<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="bg-gray-100 h-screen overflow-hidden">
    <div id="main" class="h-full flex">
        <!-- Sidebar -->
        <div id="sidebar" class="w-1/6 bg-[#1E164F] text-white flex flex-col justify-between p-4">
            <div>
                <div id="logo" class="text-2xl font-bold p-4">
                    <a href="#">SXC</a>
                </div>
                <ul>
                    <li class="p-4 font-normal hover:font-bold hover:text-yellow-200 transition">
                        <a href="{{ url_for('index') }}">Dashboard</a>
                    </li>
                    <li class="p-4 font-normal hover:font-bold hover:text-yellow-200 transition">
                        <a href="{{ url_for('employees') }}">Employees</a>
                    </li>
                    <li class="p-4 font-normal hover:font-bold hover:text-yellow-200 transition">
                        <a href="#">Departments</a>
                    </li>
                    <li class="p-4 font-normal hover:font-bold hover:text-yellow-200 transition">
                        <a href="{{ url_for('reports') }}">Reports</a>
                    </li>
                    <li class="p-4 font-normal hover:font-bold hover:text-yellow-200 transition">
                        <a href="#">Attrition</a>
                    </li>
                </ul>
            </div>
            <ul>
                <li class="p-4 font-normal hover:font-bold hover:text-yellow-200 transition">
                    <a href="#">Settings</a>
                </li>
                <li class="p-4 font-normal hover:font-bold hover:text-yellow-200 transition">
                    <a href="{{ url_for('logout')}}">Logout</a>
                </li>
            </ul>
        </div>


        <!-- Right content area -->
        <div class="flex-1 flex flex-col overflow-hidden">
            <!-- Fixed Navbar -->
            <div id="nav" class="flex justify-between items-center py-2 px-4 bg-gray-200 sticky top-0 z-10">
                <div id="page-title">
                    {% block page_title %}
                    {% endblock %}
                </div>
                <div id="user" class="flex items-center space-x-4">
                    <!-- Search Bar with Icon -->
                    <div class="relative">
                        <input type="text" placeholder="Search..." 
                            class="pl-10 pr-3 py-1 rounded-2xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500" />
                        <svg class="w-5 h-5 absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500" 
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-4.35-4.35M16 10a6 6 0 11-12 0 6 6 0 0112 0z" />
                        </svg>
                    </div>
                
                    <!-- User Info -->
                    <img src=" " alt="Photo" class="rounded-full mx-2 w-12 h-12 border border-black border">
                    <div class="flex flex-col justify-center">
                        <p class="font-bold">
                            {{ name }}
                        </p>
                        <p class="text-sm">
                            {{ position }}
                        </p>
                    </div>
                </div>
                
            </div>

            <!-- Scrollable main content -->
            <div id="main-content" class="flex-1 p-4 overflow-y-auto">
                {% block content %}
                {% endblock %}
                <div style="height: 1000px;">
                    
                </div>
            </div>

            <!-- Footer -->
            <div id="footer" class="bg-gray-200 text-center py-2 -m-4 mt-auto">
                <p class="text-xs">© 2023 St. Xavier's College, Maitighar. All rights reserved.</p>
            </div>
        </div>
    </div>

    


    <script src="https://cdn.tailwindcss.com"></script>
    <script src="static/scripts.js"></script>
    {% block scripts %}
    
    {% endblock %}
</body>

</html>