{% extends "base.html" %}

{% block title %}SXC | Dashboard{% endblock %}

{% block page_title %}
<h1 class="text-xl font-bold">Dashboard</h1>
{% endblock %}

{% block content %}
<div id="content" class="flex flex-col">
    <!-- First Row -->
    <div id="first-row" class="flex flex-row justify-between p-2 -m-1">
        <div class="flex flex-col w-2/4 border border-black rounded-2xl p-12 mx-2">
            <h2 class="text-lg font-semibold">Total Employees</h2>
            <p class="text-4xl font-bold">
                {{ total_employees }}
            </p>
        </div>
        <div class="flex flex-col w-1/4 border border-black rounded-2xl p-12 mx-2">
            <h2 class="text-lg font-semibold">Attrition Rate</h2>
            <p class="text-4xl font-bold">5.7%</p>
        </div>
        <div class="flex flex-col w-1/4 border border-black rounded-2xl p-12 mx-2">
            <h2 class="text-lg font-semibold">On Leave</h2>
            <p class="text-4xl font-bold">11</p>
        </div>
        <div class="flex flex-col w-1/4 border border-black rounded-2xl p-12 mx-2">
            <h2 class="text-lg font-semibold">At-Risk Staff</h2>
            <p class="text-4xl font-bold">50</p>
        </div>
    </div>

    <!-- Second Row -->
    <div id="second-row" class="flex flex-row justify-between p-2 -m-1">
        <!-- Reports -->
        <div id="report" class="w-full border border-black rounded-2xl p-12 m-2">
            <h2 class="text-lg font-semibold">Reports</h2>
            <div id="charts" class="flex flex-row justify-between">
                <div class="chart-container w-1/3 p-4">
                    <h2>Department Distribution</h2>
                    <canvas id="deptChart" class="h-full"></canvas>
                </div>

                <div class="chart-container w-1/3 p-4">
                    <h2>Age Ranges</h2>
                    <canvas id="ageChart" class="h-full"></canvas>
                </div>

                <div class="chart-container w-1/3 p-4">
                    <h2>Salary Bands</h2>
                    <canvas id="salaryChart" class="h-full"></canvas>
                </div>
            </div>
        </div>

        <!-- Leave Requests
        <div id="leave-req" class="w-1/2 p-12 border border-black rounded-2xl m-2">
            <h2 class="text-lg font-semibold">Leave Requests</h2>
            <table class="min-w-full divide-y divide-gray-200 mt-4">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">EID</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Department</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Leave Type</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Period</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for request in leave_requests %}
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">{{ request.eid }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ request.name }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ request.department }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ request.leave_type }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ request.period }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> -->

    </div>

    <!-- Third Row -->
    <div id="third-row" class="flex flex-row justify-between p-2 -m-1">
        <div id="employees" class="flex flex-col w-1/3 border border-black rounded-2xl p-12 m-2">
            <h2 class="text-lg font-semibold">Employee List</h2>

        </div>
        <div id="anniversary" class="flex flex-col w-1/3 border border-black rounded-2xl p-12 m-2">
            <h2 class="text-lg font-semibold">Anniversaries</h2>

        </div>
        <div id="birthday" class="flex flex-col w-1/3 border border-black rounded-2xl p-12 m-2">
            <h2 class="text-lg font-semibold">Birthdays</h2>

        </div>
    </div>
    {% endblock %}

    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    {% endblock %}