<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Company | Login</title>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet" />
  <link href="https://fonts.Companyapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/static/style.css">

<body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0">
  <header class="max-w-lg mx-auto mb-4">
    <a href="#">
      <h1 class="text-4xl font-bold text-white text-center">Company</h1>
    </a>
  </header>

  <main class="bg-white max-w-lg mx-auto my-6 p-6 md:p-10 rounded-lg shadow-2xl">
    <section>
      <h3 class="font-bold text-2xl">Welcome to Company</h3>
      <p class="text-gray-600 pt-2">Log in to your account.</p>
    </section>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div
      class="p-4 rounded-lg {% if category == 'error' %}bg-red-100 text-red-700
      {% else %}bg-green-100 text-green-700{% endif %}">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <section class="mt-10">
      <form class="flex flex-col" method="POST" action="{{ url_for('login') }}">
        <div class="mb-6 pt-3 rounded bg-gray-200">
          <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="email">Email</label>
          <input type="text" id="email" name="email"
            class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3" />
        </div>
        <div class="mb-3 pt-3 rounded bg-gray-200">
          <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="password">Password</label>
          <input type="password" id="password" name="password"
            class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3" />
        </div>
        <div class="flex items-center justify-end mb-6">
          <input type="checkbox" id="showPassword" class="mr-2">
          <label for="showPassword" class="text-sm text-gray-700">Show Password</label>
        </div>
        <!-- <div class="flex justify-end">
            <a
              href="#"
              class="text-sm text-blue-500 hover:text-blue-700 hover:underline mb-6"
              >Forgot your password?</a
            >
          </div> -->
        <button
          class="bg-blue-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200"
          type="submit">
          Log In
        </button>
      </form>
    </section>
  </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>